body {
    width: max-content;
    margin: auto;
}

#skills {
    width: max-content;
    border: 1vmin;
    border-style: solid;
    border-color: firebrick;
}

#skills > section {
    box-sizing: border-box;
    margin: 2px;
    padding: 2px;
    display: table;
    min-width: max-content;
    width: inherit;
    border: 2px;
    border-style: solid;
    border-color: darkcyan;
}

#skills h4, #skills ul {
    margin: 0px;
}

#skills ul {
    list-style-type: none;
}